@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


:root{
    --article-back : rgb(230, 216, 216);
    --font-color : #283044;
    --main-font : 'Roboto', sans-serif;

}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    background-color: #283044;
}




main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em;
    max-width: 1024px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.item{
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    margin: 2em 1em;
    width: 200px;
    border-radius: .5em;
    font-family: var(--main-font);
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--font-color);
}

.item section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.item section p{
}


.item figure, .item img{
    width: 100%;
}

.item input{
    width: 50%;
    padding: .5em 0;
    align-self: center;
    text-align: center;
    font-size: 1.2em;
}


.item > p{
    margin: .5em 0;
}


.item section p{
    font-weight: bolder;
}

.item > p{
    font-size: .9em;
    text-align: center;
}

.process{
    padding: 1em;
    
}





